{% extends "templates/master_page.html" %}

{% block title %}{{dive.title}} - DiveShare{% endblock %}

{% block thumbnail %}
    {% if dive.photos|length > 0 %}
        {% for photo in dive.photos %}
            <meta property="og:image" content="{{photo.link}}"/>
        {% endfor %}
    {% else %}
        <meta property="og:image" content="http://dive-share.appspot.com/pics/{{fake_thumb}}"/>
    {% endif %}
{% endblock %}

{% block content %}

<table class="body">
    <tr>
        <td>
            <span class="dive_count"># {{dive.index}}</span>
        </td>
        <td>
            <span class="location">
                <a
                    {% if dive.lat and dive.lon %}
                    href="http://www.openstreetmap.org/?lat={{dive.lat}}&amp;lon={{dive.lon}}&amp;zoom=17&amp;layers=M"
                    {% endif %}
                >
                    {{ dive.title }}
                </a>
        </span>
        </td>
    <td align="right">
        <span class="date">{{dive.date}}</span>
    </td>
    </tr>

    <tr>
        <td>
            Temperature
            <br>
            Air: {{dive.dive_data['temperature']['air']}}
            <br>
            Water: {{dive.dive_data['temperature']['water']}}
        </td>
        <td>
            <span class="rating_name">Rating:</span> <span class="rating">
                {% for i in range(dive.dive_data['rating']) %}★{% endfor %}{% for i in range(5-dive.dive_data['rating']) %}☆{% endfor %}
            </span>

            <span class="rating_name">Visiblity:</span> <span class="rating">
                {% for i in range(dive.dive_data['visibility']) %}★{% endfor %}{% for i in range(5-dive.dive_data['visibility']) %}☆{% endfor %}
            </span>
        </td>
        <td align="right">Duration: {{dive.dive_data['dive_duration']}}</td>
    </tr>

    <tr>
        <td>
            <div class="cylinder">
            Gas:<br>
            <ul>
            {% for cylinder in dive.dive_data['Cylinders'] %}
                <li>
                Start: {{cylinder['SPressure'] }} -
                End: {{cylinder['EPressure']}} -
                O₂: {{cylinder['O2']}}
                </li>
            {% endfor %}
            </ul>
            </div>
        </td>

        <td align="center">
            <span class="Suit_span">
                Suit: {{ dive.dive_data['suit'] }}
            </span>
        </td>

        <td align="right">
            <div class="weightsystem">
                Weighting system<br>

            {% for weight in dive.dive_data['Weights'] %}

                {{weight['description']}}: {{weight['weight']}}
                <br>

            {% endfor %}
            </div>
        </td>
    </tr>

    <tr>
        <td colspan="2">
        Buddy: {{dive.dive_data['buddy']}}
        </td>
        <td>Divemaster: {{dive.dive_data['divemaster']}}</td>
    </tr>

    <tr>
        <td colspan="2"><a style="text-decoration: none;" href="/profile/{{dive.key.id()}}">{{profile|safe}}</a></td>
        <td colspan="1">
            <span class="notes_span">
                {{ dive.dive_data['notes']|safe }}
            </span>

            <br>
            <div class="photo_list">{% for photo in dive.photos %}<a href="{{photo.link}}"><img alt="Dive photo" src="{{photo.small_thumb}}"/></a>{% endfor %}
                <a href="/add_photo/{{dive.key.id()}}"><img alt="add photos" src="/stylesheets/add_photos.png"/></a></div>

            <br>

            Related dives:
            <ul>
            {% for r in related %}
                <li>
                    <a href="/dive/{{ r.key.id()}}">#{{r.index}} - {{r.title}}</a>
                </li>
            {% endfor %}
            </ul>

        </td>
    </tr>

    <tr>
        <td>
            <a name="fb_share" href="http://www.facebook.com/sharer.php?u=http%3A//dive-share.appspot.com/dive/{{dive.key.id()}}" target="_blank" class="joinFB"><img alt="Share on Facebook" src="/stylesheets/fb_share.png"/></a>
            <a href="https://plus.google.com/share?url=http%3A//dive-share.appspot.com/dive/{{dive.key.id()}}" target="_blank"><img alt="Share on Google+" src="/stylesheets/g+_share.png"/></a>
        </td>
        <td colspan="2" align="right">
            {% if dive.userid is none %}
                <a href="/associate?dives={{dive.key.id()}}">
                    Associate this dive with my account</a>
            {% else %}
                <a href="/user/{{dive.userid}}">
                    Other dives</a>
            {% endif %} &nbsp;

            Tags:
            {% for tag in dive.dive_data['tags'] %}
                <span class="tag_span tag_span_{{ loop.index % 3}}"><a href="/tag/{{tag}}">{{tag}}</a></span>
            {% endfor %}

        </td>

    </tr>

</table>

<!-- Copy and paste for comments -->
    <div id="disqus_thread" style="padding: 15px"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'diveshare'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>



{% endblock %}
