{% extends "templates/master_page.html" %}

{% block title %}{{dive.title}} - DiveShare{% endblock %}

{% block content %}

<table class="divelog">
    <tr>
        <td>
            <span class="dive_count"># {{dive.index}}</span>
        </td>
        <td>
            <span class="location">
                <a
                    {% if dive.lat and dive.lon %}
                    href="http://www.openstreetmap.org/?lat={{dive.lat}}&amp;lon={{dive.lon}}&amp;zoom=17&amp;layers=M"
                    {% endif %}
                >
                    {{ dive.title }}
                </a>
        </span>
        </td>
    <td align="right">
        <span class="date">{{dive.date}}</span>
    </td>
    </tr>

    <tr>
        <td>
            Temperature
            <br>
            Air: {{dive.dive_data['temperature']['air']}}
            <br>
            Water: {{dive.dive_data['temperature']['water']}}
        </td>
        <td>
            <span class="rating_name">Rating:</span> <span class="rating">
                {% for i in range(dive.dive_data['rating']) %}★{% endfor %}{% for i in range(5-dive.dive_data['rating']) %}☆{% endfor %}
            </span>

            <span class="rating_name">Visiblity:</span> <span class="rating">
                {% for i in range(dive.dive_data['visibility']) %}★{% endfor %}{% for i in range(5-dive.dive_data['visibility']) %}☆{% endfor %}
            </span>
        </td>
        <td align="right">Duration: {{dive.dive_data['dive_duration']}}</td>
    </tr>

    <tr>
        <td>
            <div class="cylinder">
            Gas:<br>
            {% for cylinder in dive.dive_data['Cylinders'] %}
                Start: {{cylinder['SPressure'] }} -  End: {{cylinder['EPressure']}}
                <br>
            {% endfor %}
            </div>
        </td>

        <td align="center">
            <span class="Suit_span">
                Suit: {{ dive.dive_data['suit'] }}
            </span>
        </td>

        <td align="right">
            <div class="weightsystem">
                Weighting system<br>

            {% for weight in dive.dive_data['Weights'] %}

                {{weight['description']}}: {{weight['weight']}}g
                <br>

            {% endfor %}
            </div>
        </td>
    </tr>

    <tr>
        <td colspan="2">
        Buddy: {{dive.dive_data['buddy']}}
        </td>
        <td>Divemaster: {{dive.dive_data['divemaster']}}</td>
    </tr>

    <tr>
        <td colspan="2">{{profile|safe}}</td>
        <td colspan="1">
            <span class="notes_span">
                {{ dive.dive_data['notes'] }}
            </span>

            <br>
            <div class="photo_list">{% for photo in dive.photos %}<a href="{{photo.link}}"><img alt="Dive photo" src="{{photo.small_thumb}}"/></a>{% endfor %}
                <a href="/add_photo/{{dive.key.id()}}"><img alt="add photos" src="/stylesheets/add_photos.png"/></a></div>

            <br>

            Related dives:
            <ul>
            {% for r in related %}
                <li>
                    <a href="/dive/{{ r.key.id()}}">#{{r.index}} - {{r.title}}</a>
                </li>
            {% endfor %}
            </ul>

        </td>
    </tr>

    <tr>
        <td colspan="3" align="right">
            {% if dive.userid is none %}
                <a href="/associate?dives={{dive.key.id()}}">
                    Associate this dive with my account</a>
            {% endif %} &nbsp;

            Tags:
            {% for tag in dive.dive_data['tags'] %}
                <span class="tag_span tag_span_{{ loop.index % 3}}">{{tag}}</span>
            {% endfor %}

        </td>

    </tr>

</table>

<p>
    <a name="fb_share" href="http://www.facebook.com/sharer.php?u=http%3A//dive-share.appspot.com/dive/{{dive.key.id()}}" target="_blank" class="joinFB"><img alt="Share on Facebook" src="/stylesheets/fb_share.png"/></a>
</p>

{% endblock %}
