{% extends "templates/master_page.html" %}

{% block title %}Help - DiveShare{% endblock %}

{% block content %}
<table class="body"><tr><td>

<h2>Purpose</h2>
<p>This website lets you upload and share your divelogs, and add photos to them. You can use it to show your logs on your phone and share them with your friends online.</p>

<h2>Usage</h2>
<p>Open <a href="http://subsurface.hohndel.org/">subsurface</a>, File->Export and select DiveShare.</p>

<h2>Privacy</h2>
<p>Do not ever upload something that you wouldn't want to see spread all over the
internet. This is a good general rule.
<br>
Dives marked as <em>private</em> will not be listed, but whoever possesses (or guesses) their id, will be able to see them.
</p>

<h2>About</h2><p>This was written by Salvo 'LtWorf' Tomaselli.</p><p>Source code is available <a href="https://github.com/ltworf/DiveShare">here</a>.</p></td><td align="right"><img class="photo" alt="underwater picture" src="/pics/{{ photo_name }}" /><br />Photo by Carmelo Menza</td></tr></table>

{% endblock %}
