{% extends "templates/master_page.html" %}

{% block title %}Help - DiveShare{% endblock %}

{% block content %}
<table class="header" style="width: 98%; margin: 5px;"><tr><td><h2>Purpose</h2><p>This website lets you upload and share your divelogs, and addphotos to them</p><h2>How to use it?</h2><p>For now, you will need your logs to be in the <a href="http://subsurface.hohndel.org/">subsurface</a> format.You need to write your log within subsurface, then export it and then upload it here.</p><p>Probably in the future, other formats will be supported.</p><h2>About</h2><p>This was written by Salvo 'LtWorf' Tomaselli.</p><p>Source code is available <a href="https://github.com/ltworf/DiveShare">here</a>.</p></td><td align="right"><img class="photo" alt="underwater picture" src="/pics/{{ photo_name }}" /><br />Photo by Carmelo Menza</td></tr></table>

{% endblock %}
