
{% extends "templates/master_page.html" %}

{% block title %}DiveShare{% endblock %}

{% block content %}
<table class="body">
    <tr>
        <td colspan="1">
            <h2>Share your dives!</h2>
            <p>You have to export your divelogs from <a href="http://subsurface.hohndel.org/">subsurface</a>. You can upload them directly from <em>subsurface</em> or do a <a href="/manual_upload">manual upload</a>.</p>
        </td>
        <td align="right" rowspan="2">
            <img class="photo" alt="underwater picture" src="/pics/{{ photo_name }}" />
            <br />Photo by Carmelo Menza
        </td>
    </tr>

    <tr>
        <td>
            <div class="related_dives">
                <span class="related_dives">Some divelogs</span>
                <ul>
                    {% for dive in dives %}
                    <li>
                        <a href="/dive/{{dive.key.id()}}">
                            #{{dive.index}} - {{dive.title}}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </td>
    </tr>
</table>
{% endblock %}

