<!DOCTYPE html>
{% autoescape true %}
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link href="/stylesheets/base.css" rel="stylesheet" type="text/css">
        <title>{% block title %}{% endblock %}</title>
        <meta property="og:site_name" content="DiveShare"/>
        <meta property="og:description" content="{{description}}"/>
        <meta name="description" content="{{description}}" />
        <link rel="apple-touch-icon" href="/stylesheets/thumbnail.png">

        {% block thumbnail %}{% endblock %}
    </head>

    <body>
        <div class="header">
            <table class="header">
                <tr>
                    <td width="100px">
                        <a href="/">
                            <svg width="92" height="92">
                                <rect width="92" height="92" fill="{% if nitrox %}#F2F336{% else %}#FFFFFF{% endif %}"/>
                                <rect x="2" y="2" width="88" height="88" fill="{% if nitrox %}#08A94B{% else %}#FF0000{% endif %}"/>
                                <line x1="0" y1="0" x2="92" y2="92" style="stroke:{% if nitrox %}#F2F336{% else %}#FFFFFF{% endif %};stroke-width:20" />
                            </svg>
                        </a>
                    </td>
                    <td class="header">
                        <span class="header_title">
                            <a class ="header_title" href="/">DiveShare</a>
                        </span>
                    </td>
                    <td class="header_link" id="menubar">
                        <a class="header_link" href="/help">Help</a>
                        <a class="header_link" href="/my">My dives</a>
                        <span id="logout_span"></span>
                        <script>
                            if (document.cookie.indexOf("has_session=true") > -1) {
                                logout = document.getElementById("logout_span");
                                logout.innerHTML = '<a class="header_link" href="/logout">Logout</a>';
                            }
                        </script>
                        <br />&nbsp;
                    </td>
                </tr>
            </table>
        </div>

{% block content %}{% endblock %}

    </body>
</html>
{% endautoescape %}
